{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}

<div id="post_detail">
{%verbatim%}

<b><p v-html="title"></p></b>
<br>

<p v-html="html"></p>



 <div class="ui small comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment"  v-for="comment in comments">
    <a class="avatar">
      <img :src="'/media/'+comment.user.image">
    </a>
    <div class="content">
      <a class="author" v-html="comment.user.user.username" ></a>
      <div class="metadata">
        <span class="date" v-html="Date(comment.created_date)"></span>
      </div>
      <div class="text" v-html="comment.data.comment">

      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>

  <form class="ui reply form">
    <div class="field">
      <textarea id="comment"></textarea>
    </div>
    <div class="ui blue labeled submit icon button" id="reply_button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>

{%endverbatim%}
</div>


<script type="text/javascript" src="{% static 'new_comment.js' %}"></script>

{% endblock content %}