{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.css' %}">
<script src="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.js' %}"></script>


<input type="hidden" id="user_id" value="{{ request.user.id}}">


<button class="ui primary button fluid editor">
    Write Something
</button>

{%verbatim%}


<div id="posts">

<br>
<br>


  <div class="ui items">
    <div class="item" v-for="post in posts">

      <a class="ui tiny image">
        <img :src="'/media/'+post.user.image">
      </a>

      <div class="content">
        <a class="header" :href="'/posts/' + post.id" v-html="post.data.title"></a>
        <div class="description" v-html="checkLimit(post.data.html)">
         
        </div>
       
      </div>

      <div class="right floated column"  v-if="isAuthUser_(post.user.user)">
          <i :class="edit" v-on:click="editPost(post.id)"></i>
          <i :class="trash" v-on:click="deletePost(post.id)"></i>
      </div>


    </div>
  </div>


</div>

{%endverbatim%}



<div class="ui fullscreen modal modal-post">
    <i class="close icon"></i>
    <div class="header">
      Write Something
    </div>
    <div class="scrolling content">
            <div class="ui fluid icon input" >
            <input type="text" placeholder="Title..." id="title" >
            <i class="barcode icon"></i>
          </div>
          <br>

        <div class="ui fluid" style="padding-left: 30px;padding-right:30px ">
            <div class="my-editor" id="editor_post"></div>
        </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Close
      </div>
      <div class="ui positive right labeled icon button" id="write">
        Write
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>




  <div class="ui fullscreen modal modal-edit">
      <i class="close icon"></i>
      <div class="header">
       Edit
      </div>
      <div class="scrolling content">
              <div class="ui fluid icon input" >
              <input type="text" placeholder="Title..." id="title_edit"   >
              <i class="barcode icon"></i>
            </div>
            <br>
  
          <div class="ui fluid" style="padding-left: 30px;padding-right:30px ">
              <div class="my-editor" id="editor_edit"></div>
          </div>
      </div>
      <div class="actions">
        <div class="ui black deny button">
          Close
        </div>
        <div class="ui positive right labeled icon button" id="update">
          Update
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
  

<!-- 


  <div class="ui basic modal">
    <div class="ui icon header">
      <i class="archive icon"></i>
      Archive Old Messages
    </div>
    <div class="content">
      <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>   -->









  <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'jquery.notebook.css' %}">

<script type="text/javascript" src="{% static 'jquery.notebook.js' %}"></script> -->

<!-- Import jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Import Trumbowyg -->
<script src="{%static 'bower_components/trumbowyg/dist/trumbowyg.min.js' %}"></script>
<link rel="stylesheet" href="{%static 'bower_components/trumbowyg/dist/ui/trumbowyg.min.css' %}">



<script type="text/javascript" src="{% static 'new_post.js' %}"></script>

{% endblock content %}


